footer {
  background: #ffffff;
  padding-top: 40px;
}

.footerIn {
  width: 1000px;
  margin: auto;
  &__help {
    width: 1000px;
    margin: 0 auto 64px;
    display: flex;
    &__apply {
      width: 484px;
      height: 86px;
      margin-right: 32px;
      background: #82D9EE;
      border-radius: 2px;
      color: #ffffff;
      text-align: center;
      padding: 11px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__siteExplanation__main {
        font-size: 24px;
        font-weight: bold;
        margin: 4px 0 8px 0;
      }
      &__siteExplanation__sub {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 6px;
      }
      &__apply {
        p {
          background: #F7C600;
          font-size: 16px;
          border-radius: 90px;
          width: 184px;
          height: 44px;
          line-height: 44px;
          margin-left: 10px;
          font-weight: bold;
        }
      }
    }
    &__help {
      width: 484px;
      height: 86px;
      background: #90e36f;
      border-radius: 2px;
      color: #ffffff;
      text-align: center;
      padding: 11px 16px;
      line-height: 86px;
      font-size: 24px;
      font-weight: bold;
      position: relative;
      &__icon {
        font-size: 40px;
        position: absolute;
        right: 14px;
        top: 34px;
      }
    }
  }
  &__discover {
    margin-bottom: 80px;
    display: flex;
    &__projects {
      width: 285px;
    }
    &__byTags {
      width: 290px;
      margin-right: 106px;
    }
    &__byCategories {
      width: 315px;
    }
  }
  &__info {
    margin-bottom: 80px;
    display: flex;
    &__inquiry {
      width: 285px;
    }
    &__sns {
      width: 295px;
      &__list__item {
        margin-bottom: 20px;
        &__link {
          display: block;
          width: 150px;
          height: 30px;
          position: relative;
          border-radius: 4px;
          color: #ffffff;
          text-align: center;
          font-size: 14px;
        }
        &__icon {
          width: 15px;
          height: 15px;
          position: absolute;
          left: 13px;
          top: 8px;
        }
        &__text {
          position: relative;
          left: 11px;
          top: 6px;
        }
      }
      &__list:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  &__bottom {
    border-top: 1px solid #F0F0F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 80px;
    small {
      color: #8B8B8B;
      font-size: 10px;
    }
    &__companyInfo__list {
      display: inline-flex;
      justify-content: center;
      justify-content: space-between;
      width: 320px;
      &__link {
        font-size: 12px;
        color: #777777;
      }
    }
  }

  &__title {
    font-size: 20px;
    margin-bottom: 30px;
    position: relative;
    &__lookMore {
      color: #333333;
      font-size: 12px;
      margin-top: 25px;
      position: absolute;
      right: 41px;
      top: -20px;
      display: flex;
      &__icon {
        padding-left: 8px;
        font-size: 20px;
      }
    }
  }
  &__contents {
    display: flex;
    &__list {
      margin-right: 50px;
      &__item {
        &__link {
          font-weight: bold;
          font-size: 13px;
          color: #929292;
        }
      }
      &__item:not(:last-child) {
        margin-bottom: 17px;
      }
    }
  }

}

.facebookColor {
  background: #3B5998;
}
.twitterColor {
  background: #55ACEE;
}
.lineColor {
  background: #00C300;
}
.instagramColor {
  background: -webkit-linear-gradient(left, #F77D34 0%,#DB3076 50%, #A437B8 100%);
}
