// index
.featuredProjects {
  width: 100%;
  position: relative;
  height: auto;
  &__slide {
    position: relative;
    height: 430px;
    // overflow: hidden;
    &__list {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // transform: translateX(100%);
      &__item {
        padding-top: 40px;
        margin: auto;
        color: $whiteBoxColor;
        width: 860px;
        margin-bottom: 36px;
        a {
          position: relative;
          color: $whiteBoxColor;
          display: flex;
          align-items: center;
          cursor: pointer;
          outline: none;
        }
        &__image {
          margin-right: 30px;
          img {
            width: 260px;
            height: 146px;
            border-radius: 4px;
            display: block;
            // transition: all 0.2s ease;
          }
        }
        &__title {
          font-size: 30px;
          line-height: 1.4em;
          p {
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
            overflow-wrap: break-word;
          }
        }
        &__info {
          margin: auto;
          color: $whiteBoxColor;
          width: 860px;
          display: flex;
          justify-content: center;
          text-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
          margin-bottom: 39px;
          font-size: 17px;
          &__style {
            margin-right: 34px;
            &__title {
              top: -2px;
              margin-right: 13px;
            }
            &__data {
              font-size: 27px;
            }
          }
          &__targetAchievementRatio {
            display: flex;
            align-items: center;
            &__chart {
              width: 40px;
              height: 6px;
              background: rgba(0, 0, 0, 0.3);
              border-radius: 50px;
              overflow: hidden;
              margin-right: 16px;
              &__data {
                width: 600%;
                background: $greenBoxColor;
                height: 100%;
                border-radius: 40px;
              }
            }
          }
        }
        &__look {
          text-align: center;
          a {
            display: inline-block;
            padding: 15px 45px 14px 45px;
            background-color: rgb(255, 255, 255);
            font-size: 14px;
            letter-spacing: 1px;
            color: #696969;
            font-weight: 700;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
            border-radius: 2px;
            font-family: "Open Sans", sans-serif;
            // transition: all 0.2s ease;
          }
        }
      }
    }
  }
  &__nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
    text-align: center;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.2);
    &__list {
      height: 100%;
      display: flex;
      justify-content: center;
      li {
        height: 100%;
        a {
          display: block;
          padding: 11px;
          // transition: background-color 0.2s;
          img{
            width: 60px;
            height: 34px;
            border-radius: 2px;
          }
        }
      }
    }
  }
}

.contents {
  width: 100%;
  height: auto;
  background: $grayBoxColor;
  overflow: hidden;
  padding-top: 40px;
  // position: relative;
  section {
    width: 1000px;
    margin: auto;
  }
  &__catchCopy {
    text-align: center;
    margin-bottom: 46px;
    &__main {
      font-size: 26px;
      margin-bottom: 21px;
      letter-spacing: .08em;
      text-indent: 9px;
    }
    &__sub {
      font-size: 16px;
      color: $grayTextColor;
    }
  }
  &__projects {
    display: flex;
    flex-wrap: wrap;
    &__project {
      width: 310px;
      height: 357px;
      margin-bottom: 35px;
      background: white;
      font-size: 17px;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      article {
        width: 100%;
      }
      a {
        color: $blackTextColor;
      }
      &__image {
        position: relative;
        img {
          display: block;
          border-radius: 2px 2px 0 0;
          width: 310px;
          height: 174px;
        }
      }
      &__title {
        line-height: 1.6;
        padding: 12px 14px 0;
      }
      &__info {
        position: absolute;
        bottom: 46px;
        width: 282px;
        padding: 0 14px;
        display: flex;
        justify-content: space-between;
        &__style {
          display: flex;
          align-items: center;
          &__icon {
            color: $grayIconColor;
            margin-right: 8px;
          }
        }
      }
      &__targetAchivementRatio {
        position: absolute;
        bottom: 19px;
        width: 282px;
        padding: 0 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__chart {
          width: 224px;
          height: 8px;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 100px;
          overflow: hidden;
          margin-right: 16px;
          &__data {
            width: 50%;
            height: 100%;
            background: $greenBoxColor;
            border-radius: 0 4px 4px 0;
          }
        }
        &__data {
          font-size: 14px;
        }
      }
    }
    &__project:not(:nth-of-type(3n)) {
      margin-right: 35px;
    }
  }

  &__explanationMakuake {
    margin-top: 60px;
    margin-bottom: 80px;
    color: $grayTextColor;
    &__title {
      font-size: 14px;
      line-height: 60px;
      height: 54px;
      text-align: center;
    }
    &__explanation {
      font-size: 12px;
      line-height: 2;
    }
  }
}

.showMore {
  width: 130px;
  height: 38px;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  margin-left: auto;
  padding: 0 14px;
  background: $yellowBoxColor;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin-right: 10px;
  }
  &__icon {
    font-size: 26px;
  }
}

// show
.grayBase {
  background-color: $grayBoxColor;
}

.nav {
  position: relative;
  display: flex;
  width: 1000px;
  margin: 0 auto;
  &__menue {
    display: flex;
    &__listStyle {
      color: $blackTextColor;
      display: block;
      line-height: 58px;
      padding: 0 20px;
      margin-right: 4px;
      font-size: 15px;
      height: 60px;
      border-bottom: 3px solid $yellowBoxColor;
    }
  }
  &__favorite {
    position: absolute;
    height: 60px;
    font-size: 11px;
    right: 0px;
    border-bottom-style: hidden;
    text-align: center;
    color: $blackTextColor;
    &__link {
      cursor: pointer;
      position: relative;
      height: 60px;
      display: flex;
      color: $blackTextColor;
      &__icon{
        font-size: 20px;
        margin-right: 8px;
        padding-top: 26px;
      }
      span {
        font-size: 15px;
        padding-top: 24px;
      }
    }
  }
}

.headline {
  background: $grayBoxColor;
  height: 388px;
  margin-top: 16px;
  &__content {
    width: 1000px;
    margin: auto;
    height: 388px;
    background: $whiteBoxColor;
    position: relative;
    &__heading_movie {
      position: relative;
      cursor: pointer;
      width: 690px;
      height: 388px;
      img {
        width: 690px;
        height: 388px;
      }
    }
    &__info {
      width: 310px;
      height: 388px;
      position: absolute;
      background: $blackBocColor;
      right: 0;
      top: 0;
      &__info {
        color: $whiteBoxColor;
        &__money {
          position: absolute;
          left: 20px;
          top: 20px;
          width: 270px;
          &__title {
            font-size: 17px;
            // margin-bottom: 8px;
            &__icon {
              font-size: 21px;
              fill: $whiteBoxColor;
              margin-right: 6px;
            }
            span {
              position: relative;
              top: -3px;
            }
          }
          &__data {
            text-align: right;
            font-size: 40px;
            // margin-bottom: 16px;
          }
          &__targetedAmount {
            text-align: right;
            font-size: 15px;
          }
        }
        &__targetAchivementRatio {
          width: 270px;
          height: 31px;
          line-height: 31px;
          background: #d3d3d3;
          border-radius: 2px;
          overflow: hidden;
          position: absolute;
          top: 140px;
          left: 20px;
          &__chart {
            width: 50%;
            height: 31px;
            line-height: 31px;
            background: $greenBoxColor;
            position: relative;
            // width: 0%;
            border-radius: 2px 0 0;
            &__data {
              position: absolute;
              left: 12px;
              font-size: 14px;
              top: 1px;
              width: 85px;
              color: $blackTextColor;
            }
          }
        }
        &__supporter {
          position: absolute;
          top: 202px;
          left: 20px;
          width: 270px;
        }
        &__title {
          font-size: 16px;
          margin-bottom: 8px;
          &__icon {
            font-size: 21px;
            fill: $whiteBoxColor;
            margin-right: 6px;
          }
          span {
            position: relative;
            top: -4px;
          }
        }
        &__data {
          text-align: right;
          font-size: 36px;
          margin-bottom: 16px;
          position: absolute;
          right: 0;
          top: -10px;
        }
        &__remainingDays {
          position: absolute;
          top: 256px;
          left: 20px;
          width: 270px;
        }
      }
      &__showCourse {
        width: 290px;
        position: absolute;
        bottom: 10px;
        left: 10px;
      }
    }
  }
}

.showCourseLink {
  width: 290px;
  height: 76px;
  line-height: 78px;
  background: $yellowBoxColor;
  display: block;
  border-radius: 2px;
  color: $whiteBoxColor;
  text-decoration: none;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}

.title {
  width: 1000px;
  position: relative;
  margin: auto;
  background: $whiteBoxColor;
  border-radius: 0 0 4px 4px;
  &__title {
    border-bottom: 1px solid $paleGrayLineColor;
    padding: 27px 30px;
    h2 {
      font-size: 23px;
      color: &blackTextColor;
      line-height: 1.3;
    }
    &__tag {
      margin-top: 19px;
      &__link {
        display: inline-block;
        margin-right: 14px;
        font-size: 14px;
        color: $grayTextColor;
      }
    }
  }
  &__categoryAndSns {
    height: 60px;
    position: relative;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    &__category {
      margin-bottom: 4px;
      &__link {
        font-size: 14px;
        color: $grayTextColor;
        &__icon {
          font-size: 15px;
          margin-right: 4px;
          position: relative;
          top: 2px;
          fill: $grayTextColor;
        }
      }
    }
  }
}

.main {
  width: 1000px;
  margin: auto;
  height: auto;
  padding: 50px 0;
  display: flex;
  &__leftContent {
    width: 655px;
    margin-right: 35px;
    &__latestReport {
      position: relative;
      &__title {
      display: inline-block;
      font-size: 20px;
      }
      &__date {
        margin-left: 12px;
        margin-top: 2px;
        font-size: 13px;
        display: inline-block;
        vertical-align: text-top;
        color: $grayTextColor;
      }
      &__link__more {
        color: $grayTextColor;
        float: right;
      }
      &__messageBox {
        // display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 50px;
        margin-top: 18px;
        border-radius: 4px;
        border: 1px solid $paleGrayLineColor;
        background-color: $whiteBoxColor;

        overflow: hidden;
        padding: 12px 10px;
        &__message {
          width: 616px;
          height: 50px;
          font-size: 14px;
          line-height: 1.8;
          color: $blackTextColor;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        &__message:hover {
           opacity: 0.5;
        }
      }
      &__ownerInfo {
        position: relative;
        margin-top: 24px;
        margin-left: 2px;
        margin-bottom: 34px;
        display: flex;
        &__image {
          border-radius: 4px;
          width: 40px;
          height: 40px;
        }
        &__company {
          margin-left: 14px;
          &__link {
            display: table-cell;
            vertical-align: middle;
            max-width: 310px;
            height: 40px;
            padding-bottom: 4px;
            margin-left: 14px;
            position: relative;
            top: 3px;
            color: $blueTextColor;
          }
        }
        &__contact {
          padding-top: 12px;
          display: flex;
          &__homepage {
            position: absolute;
            right: 172px;
            font-size: 18px;
            line-height: 20px;
            color: $blackTextColor;
          }
          &__border {
            position: absolute;
            right: 162px;
            width: 1px;
            height: 18px;
            background-color: $grayLineColor;
          }
          &__ask {
            position: absolute;
            right: 2px;
            display: block;
            height: 20px;
            cursor: pointer;
            width: 150px;
            &__icon {
              font-size: 18px;
              color: $orangeBoxColor;
            }
            span {
              font-size: 13px;
              color: $orangeBoxColor;
            }
          }
        }
      }
    }
    &__project {
      padding: 20px;
      border-radius: 4px;
      background: $whiteBoxColor;
    }
    &__showCourse {
      a {
        margin: 50px auto 0 auto;
      }
    }
    &__share {
      margin: 50px auto;
      display: flex;
      justify-content: space-between;
      &__link {
        color: $whiteBoxColor;
        font-size: 18px;
        display: block;
        width: 310px;
        border-radius: 2px;
        height: 56px;
        text-align: center;
        line-height: 56px;
        &__icon {
          fill: $whiteBoxColor;
          font-size: 23px;
          position: relative;
          margin-right: 13px;
          top: 2px;
        }
      }
    }
  }
  &__rightContent {
    width: 310px;
    &__title {
      font-size: 20px;
      color: $blackTextColor;
      margin-bottom: 11px;
    }
    &__projectType{
      padding: 6px 0 7px 0;
      font-size: 12px;
      line-height: 1.8;
      border-radius: 4px;
      margin-bottom: 12px;
      color: $grayTextColor;
    }
    &__course {
      width: 310px;
      margin-bottom: 40px;
      background: $whiteBoxColor;
      border-radius: 4px;
      &__price {
        width: 265px;
        background: $whiteBoxColor;
        position: relative;
        padding: 18px 20px 18px 20px;
        box-shadow: 0 1px 0 0 #f2f2f2;
        border-left: 5px solid $yellowBoxColor;
        line-height: 1.6;
        &__price {
          position: relative;
          color: $blackTextColor;
          font-size: 25px;
          span {
            font-size: 12px;
          }
        }
        &__remaining {
          color: #fb2a79;
          text-indent: 2px;
          font-size: 18px;
        }
      }
      &__link {
        padding: 15px;
        display: block;
        color: $blackTextColor;

      }
      &__title {
        font-size: 19px;
        margin-bottom: 15px;
        line-height: 1.4;
      }
      &__image {
        margin-bottom: 15px;
        &__data {
          width: 280px;
          height: 165px;
        }
      }
      &__text {
        font-size: 13px;
        line-height: 1.7;
        margin-bottom: 14px;
        color: $blackBocColor;
        border-top: 1px solid $paleGrayLineColor;
        border-bottom: 1px solid $paleGrayLineColor;
        padding: 16px 0;
      }
      &__supporter {
        font-size: 16px;
        &__icon {
          fill: $grayIconColor;
          position: relative;
          top: 1px;
          margin: 0 7px 0 5px;
        }
      }
      &__schedule {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 4px;
        &__icon {
          font-size: 16px;
          fill: $grayIconColor;
          position: relative;
          top: 1px;
          margin: 0 7px 0 5px;
        }
      }
      &__apply {
        position: relative;
        border-top: 1px solid $paleGrayLineColor;
        padding: 16px 0;
        border-radius: 0 0 4px 4px;
        &__link {
          display: block;
          border: none;
          cursor: pointer;
          outline: none;
          right: 30px;
          background: $yellowBoxColor;
          color: $whiteBoxColor;
          font-size: 20px;
          border-radius: 2px;
          line-height: 60px;
          height: 60px;
          margin: 0 20px;
          text-align: center;
        }
      }
    }
    &__contact {
      position: relative;
      background: $whiteBoxColor;
      width: 310px;
      height: 48px;
      margin-top: 40px;
      &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: $orangeBoxColor;
        &__icon {
          font-size: 22px;
          height: auto;
          margin-right: 12px;
        }
      }
    }
    &__info {
      margin-top: 20px;
      p {
        padding: 14px;
        font-size: 12px;
        border: 1px solid $grayLineColor;
        line-height: 1.5;
        color: $grayTextColor;
      }
    }
  }
}
